services:
  php-fpm:
    image: ${IMAGE:-vasiliishvakin/php:8.3-fpm}
    container_name: php-fpm
    networks:
      shared:
    volumes:
      - ${PHP_LOCAL_INI}:/usr/local/etc/php/conf.d/zz-php.local.ini:ro
      - ${FPM_WWW_CONF}:/usr/local/etc/php-fpm.d/www.conf:ro
      - workspace:/workspace
    restart: ${RESTART_POLICY:-unless-stopped}
    stop_grace_period: 10s
    working_dir: /workspace
    expose:
      - "9000"

volumes:
  workspace:
    external: true
    name: ${WORKSPACE:-workspace}

networks:
  shared:
    external: true
    name: ${NETWORK_NAME:-shared}
