services:
  caddy:
    image: ${CADDY_IMAGE:-vasiliishvakin/caddy:2}
    container_name: caddy
    network_mode: ${NETWORK_MODE:-container:tailscale}
    volumes:
      - workspace:/workspace
      - data:/data
      - config:/config
      - ${CADDY_CONF_PATH}:/etc/caddy
    restart: ${RESTART_POLICY:-unless-stopped}

volumes:
  data:
  config:
  workspace:
    external: true
    name: ${WORKSPACE:-workspace}
