services:
  tailscale-caddy:
    image: tailscale/tailscale:latest
    hostname: tailscale-caddy
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_AUTH_ONCE=true
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_HOSTNAME=fndn-webserver02
      - TS_ACCEPT_DNS=true
    volumes:
      - tailscale_state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: unless-stopped
    networks:
      - internal
    dns:
      - 172.20.0.2
      - 1.1.1.1

  caddy:
    image: vasiliishvakin/caddy:2
    depends_on:
      - tailscale-caddy
    network_mode: service:tailscale-caddy
    volumes:
      - workspace:/workspace
      - caddy_data:/data
      - caddy_config:/config
      - /data/self-hosted/caddy/conf:/etc/caddy
    restart: unless-stopped

networks:
  internal:
    external: true

volumes:
  workspace:
    external: true
  caddy_data:
  caddy_config:
  tailscale_state:
