services:
  caddy:
    image: ${CADDY_IMAGE:-vasiliishvakin/caddy:2}
    container_name: caddy
    network_mode: ${NETWORK_MODE:-container:tailscale}
    volumes:
      - workspace:/workspace
      - data:/data
      - config:/config
      - ${CADDY_CONF_PATH}:/etc/caddy
    restart: ${RESTART_POLICY:-unless-stopped}
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:2019/config/" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

volumes:
  data:
    external: ${CADDY_DATA_EXTERNAL:-true}
    name: ${CADDY_DATA:-caddy_data}
  config:
  workspace:
    external: true
    name: ${WORKSPACE:-workspace}
