services:
  tailscale-caddy:
    image: tailscale/tailscale:${TS_VERSION:-latest}
    hostname: ${HOSTNAME:-tailscale-caddy}
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_AUTH_ONCE=${TS_AUTH_ONCE:-true}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_HOSTNAME=${TS_HOSTNAME:-caddy}
      - TS_ACCEPT_DNS=${TS_ACCEPT_DNS:-true}
    volumes:
      - ${TS_DATA_VOLUME:-tailscale_state}:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: ${RESTART_POLICY:-unless-stopped}
    networks:
      - internal
    dns:
      - ${DNS:-1.1.1.1}
      - ${DNS_FALLBACK:-8.8.8.8}

  caddy:
    image: ${CADDY_IMAGE:-vasiliishvakin/caddy:2}
    depends_on:
      - tailscale-caddy
    network_mode: service:tailscale-caddy
    volumes:
      - ${WORKSPACE_VOLUME:-workspace}:/workspace
      - ${CADDY_DATA_VOLUME:-caddy_data}:/data
      - ${CADDY_CONFIG_VOLUME:-caddy_config}:/config
      - ${CADDY_CONF_PATH}:/etc/caddy
    restart: ${RESTART_POLICY:-unless-stopped}

networks:
  internal:
    external: true
    name: ${NETWORK_NAME:-internal}

volumes:
  workspace:
    external: true
    name: ${WORKSPACE_VOLUME:-workspace}
  caddy_data:
    name: ${CADDY_DATA_VOLUME:-caddy_data}
  caddy_config:
    name: ${CADDY_CONFIG_VOLUME:-caddy_config}
  tailscale_state:
    name: ${TS_DATA_VOLUME:-tailscale_state}
