services:
  blocky:
    image: spx01/blocky
    container_name: blocky
    networks:
      shared:
        ipv4_address: ${IP}
    dns:
      - ${DNS:-1.1.1.1}
      - ${DNS_FALLBACK:-8.8.8.8}
    volumes:
      - ${CONFIG_PATH}:/app/config.yml:ro
    restart: ${RESTART_POLICY:-unless-stopped}

networks:
  shared:
    external: true
    name: ${NETWORK_NAME:-shared}
