services:
  blocky:
    image: spx01/blocky
    container_name: blocky
    networks:
      shared:
        ipv4_address: ${BLOCKY_IP}
    dns:
      - ${DNS:-1.1.1.1}
      - ${DNS_FALLBACK:-}
    volumes:
      - ${CONFIG_PATH}:/app/config.yml:ro
    restart: unless-stopped

networks:
  shared:
    external: true
    name: ${NETWORK_NAME:-shared}
