services:
  docker-builder:
    image: vasiliishvakin/docker-builder
    container_name: docker-builder
    privileged: true
    network_mode: ${NETWORK_MODE:-container:tailscale}
    environment:
      - SSH_PUBLIC_KEY=${SSH_PUBLIC_KEY:-}
    volumes:
      - docker:/var/lib/docker
      - root:/root
    restart: ${RESTART_POLICY:-unless-stopped}
    healthcheck:
      test: ["CMD-SHELL",
        "ip link show tailscale0 > /dev/null 2>&1 \
        && nc -z 127.0.0.1 22 > /dev/null 2>&1"
      ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

volumes:
  docker:
  root:
