services:
  docker-builder:
    image: vasiliishvakin/docker-builder
    container_name: docker-builder
    privileged: true
    network_mode: ${NETWORK_MODE:-container:tailscale}
    environment:
      - SSH_PUBLIC_KEY=${SSH_PUBLIC_KEY:-}
      - SSH_PORT=${SSH_PORT:-22}
    volumes:
      - docker:/var/lib/docker
      - root:/root
      - workspace:/workspace
    restart: ${RESTART_POLICY:-unless-stopped}

volumes:
  docker:
  root:
  workspace:
    external: true
    name: ${WORKSPACE:-workspace}
