services:
  croc-relay:
    image: schollz/croc
    container_name: croc-relay
    networks:
      shared:
    environment:
      CROC_PASS: ${PASSWORD}
    command: >
      relay --host ${HOST:-0.0.0.0} --ports ${PORTS:-42009,42010,42011}
    ports:
      - "${PORTS_START:-42009}-${PORTS_END:-42011}:${PORTS_START:-42009}-${PORTS_END:-42011}/tcp"
      - "${PORTS_START:-42009}-${PORTS_END:-42011}:${PORTS_START:-42009}-${PORTS_END:-42011}/udp"
    restart: ${RESTART_POLICY:-unless-stopped}
    healthcheck:
      test: [ "CMD-SHELL", "nc -z 127.0.0.1 ${PORTS_START:-42009} || exit 1" ]
      interval: 30s
      timeout: 10s
      start_period: 5s
      retries: 3

networks:
  shared:
    external: true
    name: ${NETWORK_NAME:-shared}
