services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    networks:
      shared:
        ipv4_address: ${IP:-172.24.0.5}
    environment:
      - TZ=${TZ:-UTC}
      - MYSQL_CHARSET=${MYSQL_CHARSET:-utf8mb4}
      - MYSQL_COLLATION=${MYSQL_COLLATION:-utf8mb4_unicode_ci}
    volumes:
      - /data/self-hosted/mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - /data/self-hosted/mysql:/etc/mysql/conf.d
      - mysql_data:/var/lib/mysql
    restart: ${RESTART_POLICY:-unless-stopped}

networks:
  shared:
    external: true
    name: ${NETWORK_NAME:-shared}

volumes:
  mysql_data:
    external: true
