services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    networks:
      shared:
    environment:
      - TZ=${TZ:-UTC}
      - MYSQL_CHARSET=${MYSQL_CHARSET:-utf8mb4}
      - MYSQL_COLLATION=${MYSQL_COLLATION:-utf8mb4_unicode_ci}
    volumes:
      - ${MYSQL_INITDB}:/docker-entrypoint-initdb.d
      - ${MYSQL_CONF}:/etc/mysql/conf.d
      - data:/var/lib/mysql
    restart: ${RESTART_POLICY:-unless-stopped}

networks:
  shared:
    external: true
    name: ${NETWORK_NAME:-shared}

volumes:
  data:
